
.login {
    background: var(--color-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login .card {
    display: flex;
    width: 580px;
    flex-direction: row-reverse;
    background: white;
    border: 1px solid white;
    border-radius: 2rem;
    overflow: hidden;
    max-width: 90%;
}


.login .card .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.login h2 {
    color: var(--color-primary);
}

.login .card p {
    font-size: 0.9rem;
}

.login .card span {
    color: var(--color-primary);
}

.login .card .right {
    flex: 1;
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}


.login form input {
    padding: 1rem 0;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin: 0 auto;
    color: white;
}

.login form input::placeholder {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}

.login form .btn {
    color: var(--color-primary);
    margin-top: 1rem;
}


@media screen and (max-width: 424px) {
    .login .card {
        flex-direction: column-reverse;
        width: 90%;
    }

    .login .card .right {
        padding: 30px;
    }
}


@media screen and (min-width: 425px) and (max-width: 786px) {
    .login {
        height: auto;
        padding: 40px 0;
    }

    .login .card {
        width: 100%;
        border-radius: 1rem;
    }

    .login .card .left {
        padding: 15px;
    }

    .login .card .right {
        padding: 20px;
    }

    .login form input {
        width: 100%;
    }
}

@media screen and (min-width: 787px) and (max-width: 1440px) {
    .login .card {
        width: 60%;
        max-width: 800px;
    }

    .login .card .left,
    .login .card .right {
        padding: 40px;
    }

    .login form input {
        width: 90%;
    }
}


