.stories{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.story{
    height: 170px;
    flex:1;
    overflow: hidden;
    position: relative;
    user-select: none;
    border-radius: 0.5rem;

}
.story::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    bottom: 0;
    background:linear-gradient(transparent,transparent,var(--color-primary)) ;
}

.story.user{
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px dashed var(--color-primary);
    border-radius: 50%;
}