.comments{
    width: 100%;
    background: var(--color-bg);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
    margin: 1 rem 0;
}
.comments .writebox{
    width: 100%;
    justify-content: space-between;
}
.comments.writebox input{
    width: 100%;
    background: transparent;
    border: 1px soild var(--color-soft);
    padding: 10px;
    border-radius: .5rem;
    color:var(--color-text)
}
